<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nsu.edu.qingshuyuxia.mapper.ReviewCustomMapper">

    <select id="getRecentReview" resultType="cn.nsu.edu.qingshuyuxia.po.ReviewCustom">
        SELECT * FROM review ORDER BY data DESC LIMIT 10
    </select>

<!-- 根据文章id获得所有的评论 -->
	<select id="findAllReview" parameterType="java.lang.Integer"
		resultMap="queryAllReviewResultMap">
		SELECT
		    r1.id,
            r1.commentUserId,
            r1.commentUserName,
            r1.reviewContent,
            r1.`data`,
            r1.system,
            r1.browser,

            r2.id id2,
            r2.replyUserName replyUserName2,
            r2.commentUserId commentUserId2,
            r2.commentUserName commentUserName2,
            r2.reviewContent reviewContent2,
            r2.`data` data2,
            r2.system system2,
            r2.browser browser2
        FROM
            review r1 LEFT JOIN review r2
        ON
            r1.id = r2.replyId
        WHERE
            r1.replyId = 0 AND r1.articleId = #{value}
	</select>
	<resultMap id="queryAllReviewResultMap" type="cn.nsu.edu.qingshuyuxia.po.ReviewCustom">
		<id column="id" property="id"></id>
        <result column="commentUserId" property="commentuserid"/>
        <result column="commentUserName" property="commentusername"/>
        <result column="reviewContent" property="reviewcontent"/>
        <result column="data" property="data"/>
        <result column="system" property="system"/>
        <result column="browser" property="browser"/>
		<collection property="reviewNextList" ofType="cn.nsu.edu.qingshuyuxia.po.ReviewCustom">
            <result column="id2" property="id"/>
            <result column="replyUserName2" property="replyusername"/>
            <result column="commentUserId2" property="commentuserid"/>
            <result column="commentUserName2" property="commentusername"/>
            <result column="reviewContent2" property="reviewcontent"/>
            <result column="data2" property="data"/>
            <result column="system2" property="system"/>
            <result column="browser2" property="browser"/>
		</collection>
	</resultMap>

</mapper>